body {
    margin-top: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 20%;
    background-color: #f8f7f7;

}

td, th {
    border: 1px solid #110101;
    text-align: center;
    padding: 1px;
}

th {
    background-color: #1ba78f;
    padding: 5px;
    color: #f5eeee;

}
tr:nth-child(even) {
    background-color: #dddddd;
}

.content {
    max-width: 500px;
    max-height: 400px;
    background-image: linear-gradient(#f5eeee, #96facb);
    color: #131212;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding:  10px;;
    font-size: large;
}

.deposit-btn {
    cursor:  pointer;
    color:  #f4f4f8;
    background-color: #117c73;
    border: 1px solid #5757574d;
    }


