body {
    margin-top: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 20%;
}

td, th {
    border: 1px solid #110101;
    text-align: center;
    padding: 1px;
}

th {
    background-color: #f067bb;
    padding: 5px;

}
tr:nth-child(even) {
    background-color: #dddddd;
}

.content {
    color: #110101;
}

.content {
    width: 50%;
    margin-left: 20%;
    font-size: large;
}



    /* body    {
        background-color: #0a0a23;}


        #text   {
                background-color: #0a0a23;
                color: #ffffff;
                padding:  10px;}

        #game   {
                max-width: 500px;
                max-height: 400px;
                background-color: #ffffff;
                color: #ffffff;
                margin-top: 30px;
                margin-bottom: 0px;
                margin-left: auto;
                margin-right: auto;
                padding:  10px;}
        
        #controls,      #stats {
                border: 1px solid #0a0a23;
                color: #0a0a23;
                padding:  5px;
                }
        
        #monsterStats {
                border: 1px solid #0a0a23;
                color: #ffffff;
                padding:  5px;
                background-color:  #c70d0d;
                display: none;   
                }

        .stat   {padding-right: 10px;}

        button  {
                cursor:  pointer;
                color:  #0a0a23;
                background-color: #feac32;
                background-image: linear-gradient(#fecc4c, #ffac33);
                border: 3px solid #feac32;
                } */