.inputSearch {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type="date"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}


section {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px; 
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to bottom, #f0d768, #f1b40b);
  background: linear-gradient(to left, #f0db68, #f1b40b);
  color: #080707;
  /* padding: px; */
  text-align: center;

}
h1 {
  font-size: 40px;
  font-family: "Sofia", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

h3 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

}

.content {
  padding: 1px;
  margin-top: 10px;
}

.date-picker{
  padding: 10px;
  font-size: 16px;
  margin-top: 8px;
  width: 100px;
  height: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


.image-container {
  position: relative;
  overflow: hidden;
  height: auto;
  text-align: left;
  margin: 10px;

}

.image-container img {
  object-fit: cover;
  width: 100%;  /* ขยายรูปภาพให้ไม่เกินขนาดของพื้นที่ container */
  height: 100%;
  margin: center;


}
.showImage {
  box-shadow: 0 0 5px rgba(144, 142, 142, 0.1);
  transition: transform 0.5s;
  object-fit: cover;
}
.showImage:hover {
  transform: scale(1.05);
}

.textDetails {
  color: #050505;
  text-align: left;
  font-size: 12px;

}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  margin-bottom: 10px;
}

.rating input {
  display: none;
}

.rating label {
  display: inline-block;
  padding: 0 1px;
  font-size: 25px;
  line-height: 1.2;
  color: #ddd;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
  display: block;
}

.rating input:checked ~ label:before,
.rating label:hover:before {
  content: "\2605";
  color: #FFD700;
}

.inputData, .codeDelete {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.addProductBtn, .codeDeleteBtn {
  background-color: #f0db68;
  color: #080707;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  font-size: 16px;
}